@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  /* PRIMARY */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* NEUTRAL */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--very-light-gray);
}
.container {
  font-size: 1.6rem;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
}
.card1,
.card2,
.card3 {
  padding: 3rem;
  font-size: 1.5rem;
  width: 250px;
  height: 400px;
  color: var(--transparent-white);
  position: relative;
}
.container img {
  width: 4.5rem;
}
.container .title {
  font-family: "Big Shoulders Display", cursive;
  margin: 3rem 0;
}
.container p {
  font-family: "Lexend Deca", sans-serif;
}
.container button {
  border: none;
  border-radius: 30em;
  background-color: var(--very-light-gray);
  font-family: "Lexend Deca", sans-serif;
  padding: 1em 2rem;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  cursor: pointer;
}
.sedansButton {
  color: var(--bright-orange);
}
.suvsButton {
  color: var(--dark-cyan);
}
.luxuryButton {
  color: var(--very-dark-cyan);
}
.card1 {
  background-color: var(--bright-orange);
}
.card2 {
  background-color: var(--dark-cyan);
}
.card3 {
  background-color: var(--very-dark-cyan);
}

@media (max-width: 750px) {
  .container {
    width: 250px;
    flex-direction: column;
  }
}
